@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #2e3440;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.header p {
    font-size: 35px;
    margin-bottom: 50px;
}

.header img,
p {
    vertical-align: middle;
    display: inline;
    padding: 15px;
    border-radius: 25%;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.4s; 
    -webkit-transition-timing-function: ease;
}
.header img:hover {
    transform: scale(1.10);
}

.header {
    height: 100px;
    background: #5e81ac;
}

.link {
    cursor: pointer;
    border: 3px solid;
    border-color: #434c5e;
    z-index: 999;
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
    width: 200px;
    height: 270px;
    background-color: #434c5e;
    display: inline-block; /* Add this property */
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.4s; 
    -webkit-transition-timing-function: ease;
}

.link:hover {
    transform: scale(1.05);
    border: 3px solid;
    border-color: #aec6cf;
}

.content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content2 {
    margin: 0;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
    width: 700px;
    height: 245px;
    background-color: #434c5e;
    display: inline-block; /* Add this property */
}

.container1 {
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
    width: 285px;
    height: 200px;
    background-color: #434c5e;
    display: inline-block; /* Add this property */
}

.container2 {
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
    width: 750px;
    height: 805px;
    background-color: #434c5e;
    display: inline-block; /* Add this property */
}

.container3 {
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
    width: 500px;
    height: 370px;
    background-color: #434c5e;
    display: inline-block; /* Add this property */
}

.container2 img {
    border: 3px solid;
    border-color: #434c5e;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.4s; 
    -webkit-transition-timing-function: ease;
}

.container2 img:hover {
    border: 3px solid;
    border-color: #aec6cf;
}

.button {
  background-color: #5e81ac;
  border: 2px solid;
  border-color: #5e81ac;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  z-index: 999;
  -webkit-user-select: none;
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.4s; 
  -webkit-transition-timing-function: ease;
  touch-action: manipulation;
}
    
.button:hover {
    transform: scale(1.15);
    border: 2px solid;
    border-color: #aec6cf; 
}

@media only screen and (max-width: 360px) {
    .link {
      position: relative;
      top: 250px;
    }
    .container {
        font-size: 14px;
        scale: 0.45;
        text-align: center;
        align-items: center;
    }
  }
